@page "/polls/past"

@using Voting.Blazor.Model;
@using Voting.Shared.DTOs;

@inject NavigationManager Navigation;
@inject IVotingModel VotingModel;

<h2>Past Polls</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>PollId</th>
            <th>Question</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var poll in VotingModel.Polls)
        {
            <tr >
                <td>@poll.Id</td>
                <td>@poll.Question</td>
                <td>@poll.StartsAt</td>
                <td>@poll.EndsAt</td>
            </tr>
        }
    </tbody>
</table>

@code {
    protected override async Task OnInitializedAsync()
    {
        await VotingModel.ReadPastPollsAsync();
        StateHasChanged();
    }
}
